# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Env
.env
.env.local
.env.*.local

# Prisma SQLite DBs
prisma/*.db
prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tests/Coverage
coverage/
.jest-cache/
.jest/**

# Editor/OS
.DS_Store
.idea/
.vscode/
